*{
    margin:0;
    padding: 0;
}
html, body{
    height: 100%;
}
body{
    font-family: 'Raleway', sans-serif;
    color: white;
    background: rgb(2,0,36);
    background: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(121,9,118,1) 35%, rgba(0,255,179,1) 100%);

}
.foto{
    width: 80px;
    border-radius: 30px;
    border: 2px solid white;
    box-shadow: 0 0 20px white;
}
h1{

    font-family: 'Architects Daughter', cursive;
    font-weight: 100;
    font-size: 24;
    margin-bottom: 3px;
}
h2{
    font-weight: 50;
    font-size: 16;
    
}
.profile{
    margin-top: 20px;
    text-align: center;
}
.social{
    display: flex;
    justify-content: space-around;
    list-style: none;
    margin: 20px 0;


}
.social img{
    width: 33px;
}
.links{

    list-style: none;
}
.links li{
    margin: 10px 20px;
    
}
.links li a{
    display: block;
    background-color: white;
    padding: 15px 20px;
    border-radius: 4px;
    text-decoration: none;
    color: #790976
    font-weight: bold;
    
}
.links li a span{
    color: black;
    display: block;
    margin-top: 10px;
}